.table {
  border-collapse: collapse;
  //width: 700px;
  width: 100%;
  table-layout: fixed;

  .trEven {
    background: #fff2f2;
  }

  .trOdd {
    background: #f5e9e9;
  }

  .th {
    padding: 5px;
    border: 1px solid black;
    background: lightgray;
    cursor: pointer;
  }

  .thActive {
    padding: 5px;
    border: 1px solid black;
    background: lightblue;
    cursor: pointer;
  }

  .rangeActive {
    background: lightgoldenrodyellow;
  }

  .td {
    padding: 3px;
    border: 1px solid black;
  }

  .tdSecond {
    padding: 10px;
    border: 1px solid black;
    background: #fee6e6;
  }
}

