.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;

  .tooltiptext {
    //width: 120px;
    background-color: #8a8888;
    color: #fff;
    font-size: 14px;
    text-align: center;
    border-radius: 2px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    top: 125%; // Позиционируем подсказку снизу элемента
    left: 50%;
    margin-left: -60px; // Смещаем подсказку влево на половину её ширины
    opacity: 0;
    transition: opacity 0.3s;
    visibility: hidden;

    &::after {
      content: "";
      position: absolute;
      bottom: 100%; // Располагаем стрелку вверху подсказки
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: transparent transparent #8a8888 transparent; // Создаем стрелку
    }
  }

  &:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
}
